
#conteudo {
	height: 1080px;
	overflow: auto;
}

.bg-body {
	margin: 0px 0px 0px 400px;
}

.hide {
	display: none;
}

.head-menu {
	background-color: #000000;
	color: white;
	height: 50px;
}

.head-menu > span {
	margin-left: 40px;
	line-height: 50px;
	font-size: 17px; 
}

.head-mensagem {
	background-color: #4682B4;
	height: 80px;
	border-radius: 3px;
	border-bottom: 1px solid #ffffff;
	box-shadow: 1px 5px 3px #0076a3;
}

.body-mensagem {
	background-color: #4682B4;
	height: 1000px;
}

.mensagem {
	background-image: url('../img/perfil.jpg');
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: white;
	margin: 6px 0px 0px 6px;
	padding: 0px;
	color: white;
}

#msgFeeds {
	color: white;
	position: relative;
	margin-top: 20px;
}

.menu-list a {
	color: white;
	margin-left: 10px;
}

.menu {
	margin: 0px 0px 0px -15px;
	width: 160px;
	height: 1080px;
	background-color: #333333;
	position: absolute;
	border-radius: 5px;
	border-right: 3px double #ffffff;
	z-index: 1;
}

.menu-list li a:hover {
	background-color: #666666;
}

.menu-lateral li a:hover {
	background-color: #4682B4;
}

.menu-lateral li a:visited {
	background-color: #4682B4;
}

.menu-lateral a {
	color: black;
	border-radius: 30px!important;
	padding: 6px 9px!important;
}

.menu-lateral li {
	overflow: hidden;
}

.menu-list li {
	border-bottom: 0px solid #ffffff;
	color: white!important;
}

.menu-list li:hover {
	background-color: #666666;
}

.menu-lateral {
	margin: 0px 0px 0px 145px;
	width: 250px;
	position: absolute;
	border-radius: 5px;
	border-right: 3px double #ffffff;
	overflow: hidden;
}

.ponteiro {
	color: white!important;
	background-color: #4682B4;
	top: 40%!important;
	left: 15.3%;
	position: fixed!important;
	float: right;
	margin-right: -10px;
	z-index: 2;
	left : 19%;
}

.active {
	overflow: visible!important;
}

.banner-blue{
	position: relative;
	background-color: #337AB7;
	padding: 10px 0px 0px 50px;
	height: 180px;
	z-index: 5;
}

.banner-red{
	position: relative;
	background-color: #FF4500;
	padding: 10px 0px 0px 50px;
	height: 180px;
}

.banner-green{
	position: relative;
	background-color: #20B2AA;
	padding: 10px 0px 0px 50px;
	height: 180px;
}

.banner-yellow{
	position: relative;
	background-color: #FFA500;
	padding: 10px 0px 0px 50px;
	height: 180px;
}

#banner p {
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
}

#banner span {
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
}

#banner i {
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
}

#banner div {
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
}

.banner-content > span {
	font-size: 28px;
	font-style: solid;
	font-weight: bold;
	vertical-align: 10px;
	margin-left: 10px;
}

.banner-content-hover > span {
	font-size: 30px;
	font-style: solid;
	font-weight: bold;
	margin-left: 10px;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
}

.banner-content-hover > i {
	margin-left: -30px;
	font-size: 60px;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
}

.banner-content > i {
	position: relative;
}

.banner-content > p {
	font-size: 30px;
	font-style: solid;
	font-weight: bold;
	margin-left: 80px;
}

.banner-content {
	color: white;
	margin: 20px 0px 30px 0px;
}

.banner-content-hover {
	color: white;
	margin: 20px 0px 30px 0px;
}

.banner-content-hover > p {
	font-size: 33px;
	font-style: solid;
	font-weight: bold;
	margin-left: 100px;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
}

.navbar-collapse > span {
	margin-left: 400px;
	font-size: 18px;
	color: white;
	font-weight: bold;
	vertical-align: -17px;
}

.panel.panel-default {
    border-top-width: 3px!important;
}

.panel-default>.panel-heading {
	margin-bottom: 0px;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 100%)!important;
}

.panel-inverse > .panel-heading {
	background-color: #4682B4;
	color: white;
}

.panel-inverse {
	border-color: #4682B4; 
}

.panel-inverse > .panel-heading > a {
	color: white;
}

.btn-circle {
	border-radius: 30px;
}

.head-mensagem span.badge{
	position: absolute;
	top: -6%;
	left: 71%;
}

.fadeInNotf li.bg-success {
	border-right: 5px solid #00FFFF!important;
	background-color: white;
}

.fadeInNotf li.bg-default {
	border-right: 5px solid #1E90FF!important;
	background-color: white;
}

.fadeInNotf li.bg-danger {
	border-right: 5px solid #FF6347!important;
	background-color: white;
}

.badge-primary {
	background-color: #87CEEB;
}

.unread {
	padding: 8px 10px 13px;
	display: block;
	min-height: 20px;
}

.unread > a {
	text-decoration: none;
	font-size: 12px;
}

.unread > a:hover {
	background-color: transparent!important;
}

.badge-notificacao {
	position: absolute;
	background-color: #00BFFF;
	color: white;
	display: inline-block;
	top: 6px;
	right: 5px;
	font-weight: 700;
	text-align: center;
	padding: 0px 4px 1px;
	line-height: normal;
	border-radius: 50%;
}

.panel-notificacao {
	margin: 10px 15px 2px 15px!important;
	border-bottom: 1px solid #708090; 
	text-align: left;
	display: block;
	overflow: hidden;
	width: 250px;
	font-size: 13px;
}

.panel-notificacao p {
	color: #808080;
}

.widget {
	height: auto;
	border-width: 3px 2px 2px 2px;
	border-style: solid;
	border-color: #dddddd;
}

.head-widget {
	color: #696969;
	font-weight: bold
}

.btn-pesquisar {
	margin-top: 27px;
}

#relatorio {
	padding: 15px 15px;
}

@-webkit-keyframes rotaciona {

	0% {
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	25% {
		-webkit-transform:rotate(60deg);
		-moz-transform:rotate(60deg);
		-ms-transform:rotate(60deg);
		-o-transform:rotate(60deg);
	}
	50% {
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(-60deg);
		-moz-transform:rotate(-60deg);
		-ms-transform:rotate(-60deg);
		-o-transform:rotate(-60deg);
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
		-webkit-transform:translateY(-15px);
		-moz-transform:translateY(-15px);
		-ms-transform:translateY(-15px);
		-o-transform:translateY(-15px);
		transform:translateY(-15px)
	}
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0)
	}
}


@-webkit-keyframes zoomBack {
	0% {
		-webkit-transform:scale(0,0);
		-moz-transform:translateY(-15px);
		-ms-transform:translateY(-15px);
		-o-transform:translateY(-15px);
		transform:scale(0,0);
	}
	100% {
		-webkit-transform:scale(3.5,3.5);
		-moz-transform:scale(-15px);
		-ms-transform:scale(-15px);
		-o-transform:scale(-15px);
		transform:scale(3.5,3.5);
	}
}

.notificacao {
	-webkit-animation: rotaciona 0.2s linear 8 normal;
	-moz-animation: rotaciona 0.2s linear 8 normal;
	-ms-animation: rotaciona 0.2s linear 8 normal;
	-o-animation: rotaciona 0.2s linear 8 normal;
}

.fadeInNotf {
	-webkit-animation: fadeIn 0.6s linear 1 normal;
	-moz-animation: fadeIn 0.6s linear 1 normall;
	-ms-animation: fadeIn 0.6s linear 1 normal;
	-o-animation: fadeIn 0.6s linear 1 normal;
}

.testeKey {
	webkit-animation: zoomBack 0.6s ease infinite alternate;
	-moz-animation: zoomBack 0.6s ease infinite alternate;
	-ms-animation: zoomBack 0.6s ease infinite alternate;
	-o-animation: zoomBack 0.6s ease infinite alternate;
}

/*Index*/

.login-wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  margin-left: 0;
  animation: wrapperInDown 1s ease;
  -webkit-animation: wrapperInDown 1s ease;
  -moz-animation: wrapperInDown 1s ease;
  -ms-animation: wrapperInDown 1s ease;
  -o-animation: wrapperInDown 1s ease;
}

.login-wrapper .login-widget {
  margin: 0 auto;
  width: 400px;
  margin-top: 20px;
}

.login-wrapper h2 {
	font-weight: bold;
	text-align: center;
}

#sofbox {
	color: #1E90FF; 
	text-shadow: 0 1px #fff;
}

.seperator {
  padding-top: 10px;
}

@-webkit-keyframes wrapperInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes wrapperInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes wrapperInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    -ms-transform: translateY(20px);
  }
  100% {
    -ms-transform: translateY(0);
  }
}
@-o-keyframes wrapperInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(20px);
  }
  100% {
    -o-transform: translateY(0);
  }
}




@media (max-width: 480px) {
  .login-wrapper .login-widget {
    width: 100%;
  }
}

.inDown {
  animation-name: inDown;
  -webkit-animation-name: inDown;
  -moz-animation-name: inDown;
  -ms-animation-name: inDown;
  -o-animation-name: inDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
}

@-webkit-keyframes inDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes inDown {
  0% {
    opacity: 0;
    -moz-transform: scale(0.7);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes inDown {
  0% {
    opacity: 0;
    -ms-transform: scale(0.7);
  }
  50% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }
  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes inDown {
  0% {
    opacity: 0;
    -o-transform: scale(0.7);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.1);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes inDown {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animation-delay1 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

.animation-delay2 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

.animation-delay3 {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

.animation-delay4 {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

.chat {
  list-style: none;
  margin: 0;
  padding-left: 0px!important;
}
.chat li {
  margin: 15px 0;
}

.chat li:first-child {
  margin-top: 0;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}
.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}
.chat li .chat-body p {
  margin: 0;
}

.primary-font {
  color: #3c8dbc;
}

.refresh {
	text-decoration: none!important;
}

.btn-cadastro {
	background-color: #00AFFF;
	border-color: #00ADFF;
	color: white;
	font: bold;
	font-weight: bold;
}

.btn-cadastro:hover{
	background-color: #1A99FF;
	color: white;
	font: bold;
	font-weight: bold;
}

.bg-blue {
  background-color: #4682B4;
  color: #fff;
}

.font-18 {
  font-size: 16px !important;
  margin-left: 18px;
}

.form-usuario {
	color: #696969;
}

